Jeremy Vonderfecht <CesiumLifeJacket@gmail.com> <Cesiumlifejacket@gmail.com>
Ricardo Signes <rjbs@semiotic.systems> <rjbs@cpan.org>
Ronald J Kimball <rjk@tamias.net> <rkimball@pangeamedia.com>
Ronald J Kimball <rjk@tamias.net> <rkimball@snapapp.com>
